##파이썬의 배열 선언
 -파이썬의 배열은 리스트이다

In [1]:
data = [1,2,3,4]
data

[1, 2, 3, 4]

In [4]:
data=[[1,2,3],[4,5,6],[7,8,9]]
print(data)
print(data[0])
print(data[1][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
4

##.프로그래밍연습
    예제1. 위의 코드에서 9,8,7 순서로 출력

In [8]:
print(data[2][2], data[2][1], data[2][0])

9 8 7

## dataSet 에서 M의 갯수 찾기

In [22]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [25]:
m_count = 0;
for str in dataset:
    for char in str:
        if 'M' == char:
            m_count = m_count+1
print(m_count)

38